* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}
main .sdg {
  padding: 0 2em;
}
main .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2em;
  font-family: monospace;
}
main .nav-bar .logo {
  font-size: 1em;
  opacity: 0.8;
}
main .nav-bar .logo span {
  font-size: 0.9em;
  font-weight: 200;
}
main .nav-bar .nav-links {
  display: none;
}
main .nav-bar i {
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.8;
}
main .hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}
main .hero-section img {
  width: 100%;
  object-fit: cover;
}
main .hero-section .text {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}
main .hero-section p {
  text-transform: uppercase;
  font-size: 1.1em;
}
main .img-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .img-text .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .img-text .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .img-text .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .img-text .bottom h1 {
  font-size: 2.7em;
  font-weight: 350;
  text-transform: uppercase;
  line-height: 1;
}
main .img-text .bottom p {
  font-size: 1.5em;
  font-family: monospace;
  font-weight: 300;
  line-height: 1.5;
}
main .img-text .bottom .services {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  padding-top: 1em;
}
main .img-text .bottom .services .service {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .img-text .bottom .services .service p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.9em;
  font-weight: 400;
}
main .vertical-text .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .vertical-text .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .vertical-text .bottom {
  display: flex;
  gap: 1em;
  padding-top: 1em;
}
main .vertical-text .bottom p {
  writing-mode: vertical-rl;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: monospace;
}
main .vertical-text .bottom .text {
  padding-left: 1em;
}
main .vertical-text .bottom .text h1 {
  font-size: 2.8em;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}
main .vertical-text .bottom .text p {
  writing-mode: initial;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  line-height: 1.5;
  opacity: 0.4;
}
main .servi {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 6em;
}
main .servi .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .servi .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .servi .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 2em 4em 0;
}
main .servi .bottom .service-item {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
main .servi .bottom .service-item h2 {
  font-size: 2.7em;
  font-weight: 500;
  line-height: 1;
}
main .servi .bottom .service-item .service-text h3 {
  font-size: 1.7em;
  font-weight: 400;
  padding-top: 0.7em;
}
main .servi .bottom .service-item .service-text p {
  font-size: 1.55em;
  line-height: 1.4;
  font-family: monospace;
  opacity: 0.6;
  padding: 1.1em 0;
}
main .servi .bottom .service-item .service-text .tt {
  font-size: 1.2em;
  opacity: 1;
}
main .servi .bottom .service-item .service-text .tt i {
  background-color: black;
  color: white;
  padding: 0.7em;
  border-radius: 50%;
  rotate: 330deg;
}
main .work {
  width: 100%;
  padding-top: 4em;
}
main .work .top {
  width: 100%;
  padding: 4em 1em;
}
main .work .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .work .bottom {
  display: flex;
  flex-direction: column;
}
main .work .bottom .bo {
  width: 100%;
  display: grid;
  grid-template-areas: "w1" "w3" "w6" "w4";
  gap: 1.5em;
}
main .work .bottom .bo .fi {
  display: none;
}
main .work .bottom .bo .text {
  display: flex;
  flex-direction: column;
  padding: 1.6em 2em;
  justify-content: space-between;
}
main .work .bottom .bo .text h3 {
  font-size: 4.5em;
  font-weight: 350;
}
main .work .bottom .bo .text p {
  font-size: 1.6em;
  line-height: 1.4;
  opacity: 0.9;
  font-family: monospace;
  padding-bottom: 3em;
}
main .work .bottom .bo .text .st {
  font-size: 1.2em;
  opacity: 1;
}
main .work .bottom .bo .text .st i {
  background-color: black;
  color: white;
  padding: 0.7em;
  border-radius: 50%;
  rotate: 330deg;
}
main .work .bottom .bo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .clints {
  width: 100%;
  padding-top: 2em;
  display: grid;
  place-items: end;
}
main .clints .top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .clints .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .clints .bottom {
  width: 100%;
  padding: 3em 0;
}
main .clints .bottom .text-cover {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2em 0;
  justify-content: space-between;
}
main .clints .bottom .text-cover .text-item {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
main .clints .bottom .text-cover .text-item .www {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
}
main .team {
  width: 100%;
}
main .team .top {
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
}
main .team .top h1 {
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
}
main .team .top p {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 200;
  opacity: 0.9;
  font-family: monospace;
  padding: 1em 0 2em 0;
}
main .team .bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .team .bottom .btc {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
main .team .bottom .btc .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .team .bottom .btc .card h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.9;
}
main .team .bottom .btc .card .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .team .bottom .btc .card .details .social-icons {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}
main .team .bottom .btc .card .pp {
  font-size: 1.5em;
  line-height: 1.4;
  font-family: monospace;
  opacity: 0.5;
  padding: 1em 0 3em 0;
}
main .team .bottom .btc .card .ii {
  width: 100%;
  aspect-ratio: 1/1;
}
main .team .bottom .btc .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .join {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .join .top {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 2em;
}
main .join .top p {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: monospace;
  opacity: 0.8;
}
main .join .top h2 {
  font-size: 2.6em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
}
main .join .top .ff {
  font-size: 1.2em;
  opacity: 1;
  padding: 2em 0 4em 0;
}
main .join .top .ff i {
  background-color: black;
  color: white;
  padding: 0.6em;
  border-radius: 50%;
  rotate: 330deg;
}
main .lets {
  width: 100%;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-color: black;
}
main .lets .line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .lets .line h2 {
  color: white;
  font-size: 3em;
  font-weight: 300;
}
main .lets .line h3 {
  color: white;
  font-size: 1.6em;
  font-weight: 200;
  font-family: monospace;
  padding: 0.4em 0 0.7em 0;
}
main .lets .line button {
  padding: 1em 1.3em;
  background-color: white;
  border-radius: 2em;
}
main .lets .line button i {
  background-color: white;
  color: black;
  padding: 0 0.7em;
  border-radius: 50%;
  rotate: 130deg;
}
main .footer {
  width: 100%;
  color: white;
  background-color: black;
  margin-top: -3em;
  display: flex;
  padding: 0 2em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
main .footer .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  gap: 2em;
}
main .footer .top .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main .footer .top .card .fl {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .footer .top .card .topper {
  padding-bottom: 1em;
}
main .footer .top .card .topper h3 {
  font-size: 0.9em;
  font-weight: 300;
}
main .footer .top .card .tp {
  font-size: 0.9em;
  padding-bottom: 5em;
}
main .footer .top .card .tp h2 {
  font-weight: 400;
  font-size: 0.8em;
}
main .footer .top .card .yb {
  display: flex;
  flex-direction: column;
}
main .footer .top .card .yb h4 {
  font-size: 0.6em;
}
main .footer .top .card .yb i {
  font-size: 0.7em;
}
main .footer .top .card .link {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .footer .top .card .link p {
  font-size: 0.6em;
}
main .footer .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2em;
  padding: 2em 3em 2em 3em;
}
main .footer .bottom p {
  font-size: 0.5em;
  opacity: 0.8;
  word-spacing: 1em;
}
main .footer .bottom .da {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}
main .footer .bottom .da h5 {
  padding-right: 0.6em;
  font-family: monospace;
  font-size: 1.2em;
}
main .footer .bottom .da i {
  background-color: white;
  color: black;
  padding: 0.6em 0.8em 0.6em 0.8em;
  border-radius: 50%;
  margin-top: -0.6em;
}

@media (min-width: 768px) {
  main {
    gap: 3rem;
  }
  main .sdg {
    padding: 1em 4em;
  }
  main .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3em;
    font-family: monospace;
  }
  main .nav-bar .logo {
    font-size: 1.1em;
    opacity: 0.8;
    padding-left: 1em;
  }
  main .nav-bar .logo span {
    font-size: 0.9em;
    font-weight: 200;
  }
  main .nav-bar i {
    display: none;
  }
  main .nav-bar .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2.7em;
  }
  main .nav-bar .nav-links p {
    font-size: 1.3em;
    padding-top: 0.8em;
    opacity: 0.9;
  }
  main .nav-bar .nav-links button {
    background-color: black;
    color: rgba(255, 255, 255, 0.932);
    border: none;
    padding: 0.9em 1.9em;
    border-radius: 2em;
  }
  main .img-text {
    display: flex;
    flex-direction: row-reverse !important;
  }
  main .img-text .bottom {
    padding: 2em 0;
  }
  main .img-text .bottom h1 {
    font-size: 5em !important;
  }
  main .img-text .bottom p {
    font-size: 1.8em !important;
  }
  main .vertical-text {
    display: flex;
    flex-direction: row !important;
    padding-top: 2em;
  }
  main .vertical-text .bottom {
    flex-direction: row-reverse !important;
    padding: 2em 0;
  }
  main .vertical-text .bottom p {
    font-size: 1.1em !important;
  }
  main .vertical-text .bottom .text {
    padding-left: 3em !important;
  }
  main .vertical-text .bottom .text h1 {
    font-size: 6.5em !important;
    font-weight: 350;
    line-height: 1;
  }
  main .vertical-text .bottom .text p {
    font-size: 1.3em !important;
  }
  main .servi {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 6em;
  }
  main .servi .bottom .service-item {
    display: grid;
    grid-template-areas: "a1 a1" "a2 a3" "a4 a5" !important;
    gap: 2em;
  }
  main .servi .bottom .service-item h2 {
    font-size: 7em;
    font-weight: 350;
  }
  main .work .bottom {
    display: flex;
    flex-direction: row;
  }
  main .work .bottom .bo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "w1 w2 w3" "w4 w5 w6";
    gap: 1.5em;
  }
  main .work .bottom .bo .fi {
    display: flex;
  }
  main .clints {
    width: 100%;
    padding-top: 2em;
    display: grid;
    place-items: end;
  }
  main .clints .top {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
  }
  main .clints .bottom {
    width: 50%;
    padding: 3em 0;
  }
  main .team .top {
    padding: 4em 4em;
    display: flex;
    flex-direction: row;
    gap: 20em;
  }
  main .team .top h1 {
    font-size: 8em;
    font-weight: 400;
    text-transform: uppercase;
  }
  main .team .top p {
    font-size: 1.7em;
    line-height: 1.4;
    font-weight: 200;
    opacity: 0.9;
    font-family: monospace;
    padding: 2.4em 0;
  }
  main .team .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  main .team .bottom .btc {
    display: flex;
    flex-direction: row;
    gap: 3em;
  }
  main .join {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 3em;
    padding-right: 1em;
  }
  main .join .top h2 {
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
  }
  main .lets .line h2 {
    color: white;
    font-size: 14em;
    font-weight: 350;
  }
  main .lets .line h3 {
    color: white;
    font-size: 3em;
    font-weight: 400;
    padding: 0 2.8em 0.7em 2.8em;
  }
  main .footer {
    width: 100%;
    color: white;
    background-color: black;
    margin-top: -3em;
  }
  main .footer .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: space-around;
    gap: 2em;
  }
  main .footer .top .card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 2em;
  }
  main .footer .top .card .fl {
    display: flex;
    flex-direction: column;
  }
  main .footer .top .card .topper {
    padding-bottom: 1em;
  }
  main .footer .top .card .topper h3 {
    font-size: 1.2em;
    font-weight: 600;
  }
  main .footer .top .card .tp {
    font-size: 1em;
    padding-bottom: 10em;
  }
  main .footer .top .card .tp h2 {
    font-weight: 400;
    font-size: 1.3em;
  }
  main .footer .top .card .yb {
    display: flex;
    flex-direction: column;
  }
  main .footer .top .card .yb h4 {
    font-size: 0.4em;
  }
  main .footer .top .card .yb i {
    font-size: 2em;
  }
  main .footer .top .card .link {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2em;
  }
  main .footer .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2em;
    padding: 2em 5em 2em 5em;
  }
  main .footer .bottom p {
    font-size: 0.8em;
    opacity: 0.8;
    word-spacing: 1em;
  }
  main .footer .bottom .da {
    display: flex;
    flex-direction: row;
  }
  main .footer .bottom .da h5 {
    padding-right: 0.6em;
    font-family: monospace;
    font-size: 1.5em;
  }
  main .footer .bottom .da i {
    background-color: white;
    color: black;
    padding: 1em 1.1em 1em 1.1em;
    border-radius: 50%;
    margin-top: -1em;
  }
}

/*# sourceMappingURL=style.css.map */
